header{
background-color: black;
height: 7rem;
position: relative;
bottom: 0px;
width: 100%;
padding: 1rem;
background-color: black;
        .Logo{
            width: 100%;
            display: flex;
            align-content: flex-start;
            
            .logohijo{
                display: flex;
                margin-left: 0.5rem;
            
                img{
                    align-content: center;
                    width: 5rem;
                    
                }
            }
        }
        .Menu{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            p{
                color: white;
                margin: 0.1rem;
                margin-right: 1.5rem;
                &:hover{
                    text-decoration:underline solid white 2px;
                }
            }
        }
    @media (max-width: 767px) {
        .Menu{
            margin-left: 1rem;
            margin-right: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }
    
        }
}