$bglight: rgb(248, 248, 248);
$bgblack: black;

@mixin condicion ($color) {
    background-color: ($color);
    @if $color == $bgblack{
        color: black;
        border: white;
    }
    @else if $color == $bglight{
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border:solid 1px black;
        text-align: justify;
    }
}
.homee{
    margin: 10rem;
}
.conta{
    border: black solid 1px;
    padding: 1rem;
    margin: 7rem;
    h1{
        height: 5rem;
    }
}
.galerias{
    margin: 1rem;
    margin-top: 6rem;
    background: rgb(228, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border: black solid 1px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    section{
        margin: black solid 1px;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        h1{
            color: black;
            text-align: center;
            font-size: 50px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 20px;
            color: black;
            text-align: center;
        }
    }
    img{
        width: 250px;
        border: 2px double rgb(255, 255, 255);
        margin: 1rem;
        &:hover{
            border: solid 4px rgb(0, 0, 0);
        }
    }
}

main{
    div{
        .row{
            p{
                line-height: 10px;
                color: white;
                font-size: 12px;
                text-transform: capitalize;
                font-family:Arial, Helvetica, sans-serif; font-variant: normal; font-weight: 600;
                letter-spacing: 10px;
                text-align: center;
                word-spacing: 5px;
                .black{
                    color: black;
                }            
            }
            .scale{
                transition: 0.2s ease;
                    &:hover{
                    transform: scale(2,2);
                    }
            }
            h5{
                .black{
                    color: black;
                }
            }
            h2{
                @media screen and (max-width:600px){
                    h2 a{
                        text-align: center;
                    }
                }
            }
        }
    }
    .caja{
        @include condicion($bglight);
        padding: 15px;
        margin: 2px;
    }
    .contacto{
        background-color: black;
    }
}

.parrafo{
    position: relative;
    margin: 5;
}
@media (max-width: 767px) {
    .homee{
        margin: 2rem;
    }
    .row{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    p{
        font-size: 10px;
    }
    .container{
        margin: 1rem;
        img{
            width: 7rem;
        }
    }

    }